<div class="observed-blockspan-detail">
    <div class="text-center loadingGraphs" *ngIf="isLoadingBlock">
        <div class="spinner-border text-light"></div>
    </div>
    <div class="observed-blockspan-detail--top" *ngIf="!isLoadingBlock">
        <div class="block-container">
            <div class="blockspan dummy-row">
                <div class="blockspan-block"></div>
                <div class="blockrate" [ngClass]="{ 'height-1': getAnimal() === '🐰' }">
                    <span class="logo-container">{{getAnimal()}} {{ logos.BLOCKS }}</span>
                </div>
                <div class="hashrate" [ngClass]="{ 'height-1': getAnimal('hashrate') === '🐰' }">
                    <span class="logo-container">{{ logos.BLOCKS }}</span>
                </div>
                <div class="guessing-container"></div>
            </div>
            <div class="blockspan">
                <app-box class="blockspan-block" [fromLabel]="fromBlock.height" [toLabel]="toBlock.height"
                    footerText="blocks" [logo]="logos.BLOCKS"></app-box>
                <div class="blockrate">
                    <a class="dummy"></a>
                    <a class="to-block oe-link" 
                        [routerLink]="['/hashstrikes/blockspan-details']"
                        [attr.href]="'/hashstrikes/blockspan-details'"
                        [queryParams]="{
                            startblock: fromBlock.height,
                            endblock: toBlock.height
                        }">
                        {{getBlockRate()}}
                    </a>
                    <div class="footer">blockrate</div>
                    <div class="logo">
                        <span class="logo-container">{{ logos.BLOCKS }}</span>
                    </div>
                </div>
                <div class="hashrate">
                    <a class="dummy"></a>
                    <a class="to-block oe-link" 
                        [routerLink]="['/hashstrikes/blockrate-strike-details']"
                        [attr.href]="'/hashstrikes/blockrate-strike-details'"
                        [queryParams]="{
                            strikeHeight: strike.block,
                            strikeTime: strike.strikeMediantime,
                            startblock: fromBlock.height
                        }">
                        {{getStrikeRate()}}
                    </a>
                    <div class="footer">predicted blockrate</div>
                    <div class="logo multiple-logo">
                        <span class="logo-container">{{ logos.BLOCKS }} {{ logos.CONTRACT }}</span>
                    </div>
                </div>
                <div class="guessing-container">
                    <div class="oe-guessing-box pb-3">
                        <button class="btn btn-lg btn-light btn-outline-warning" type="button"
                            [class.active]="selectedGuess === 'fast'" [disabled]="disabled"
                            (click)="handleSelectedGuess('fast')"
                            [ngbTooltip]="strikeKnown ? 'Can\'t add guess as strike outcome is known' : null">
                            <span class="oe-icon">🐰</span> - faster
                        </button>
                    </div>
                    <div class="oe-guessing-box">
                        <button class="btn btn-lg btn-light btn-outline-warning" type="button"
                            [class.active]="selectedGuess === 'slow'" [disabled]="disabled"
                            (click)="handleSelectedGuess('slow')"
                            [ngbTooltip]="strikeKnown ? 'Can\'t add guess as strike outcome is known' : null">
                            <span class="oe-icon">🐢</span> - slower
                        </button>
                    </div>
                    <div class="oe-message-container" *ngIf="selectedGuess && strike.observedResult">
                        <div class="oe-message-text" *ngIf="getResult() === selectedGuess">
                            <h1>🤠&nbsp;💰You<br>Won</h1>
                        </div>
                        <div class="oe-message-text" *ngIf="getResult() !== selectedGuess">
                            <h1>😭&nbsp;💩You<br>Lost</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
