<div class="blockrate-strike-container">
    <div class="oe-strike-blockspan-container">
        <app-blockspan-bhs *ngIf="fromBlock && toBlock" [result]="getJudgementResult()" [fromBlock]="fromBlock" [toBlock]="toBlock"> </app-blockspan-bhs>
    </div>
    <div class="observed-strike-detail">
        <div class="observed-strike-detail--top" *ngIf="!isLoadingBlock">
            <div class="strike-container">
                 <app-blockrate-strike-summary-v2
                    [fromBlock]="fromBlock"
                    [toBlock]="toBlock"
                    [strike]="strike">
                 </app-blockrate-strike-summary-v2>
            </div>
        </div>
    </div>
</div>
