.observed-strike-detail {
  width: 90%;
  margin-top: 100px;

  &--top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    .strike-container {
      margin-left: 10%;
      width: 65%;
      background: gray;
      padding-left: 3%;
      border: 1px black;
    }
  }
}

.oe-strike-blockspan-container {

  ::ng-deep {
    .observed-blockspan-detail {
      margin-top: 0px;

      &--top {

        margin-top: 2rem;
        
        ::ng-deep {

          .blockspan-bottom-upper {
            background-color: #e69138;
          }

          .blockspan {
            margin-top: 0rem !important;
          }

          .second-row {
            margin-top: -5rem !important;
          }

          .blockspan-bottom {
            margin-top: 8rem;
          }

          .blockrate {

            background: #e69138;
            padding-left: 0.5rem;
            padding-top: 0rem;
            box-sizing: border-box;
            padding-right: 0.5rem;

            
            .to-block, .from-block, .footer {
              background-color: yellow !important;
            }

            .dummy {
              visibility: visible !important;
              background-color: #e69138 !important;
              border: none !important;
            }
          }
        }
      }
    }
  }
}

.blockrate-strike-container {
   .observed-strike-detail {
      margin-top: 20%;
      padding-bottom: 2%;

      &--top {
        align-items: flex-start;

        .strike-container {
          box-sizing: border-box;
          margin-left: 4.75%;
          // padding-left: 10%;
          width: 100%;
          margin-top: 5rem;
        }

        .judgement-block-summary-wrapper {
              margin-top: 4rem;
        }
      }
    }
}
