<div class="observed-blockspan-detail">
    <div class="text-center loadingGraphs" *ngIf="isLoadingBlock">
        <div class="spinner-border text-light"></div>
    </div>
    <div class="observed-blockspan-detail--top" *ngIf="!isLoadingBlock">
        <div>
            <div class="blockspan">
                <app-box class="blockspan-block" [fromLabel]="fromBlock.height" [toLabel]="toBlock.height"
                    footerText="blocks" [logo]="logos.BLOCKS"></app-box>
                <div>
                    <div class="timeblocks">
                        <div class="timeblocks-upper">
                            <div class="timeblocks-upper-header">{{getResult()}}</div>
                        </div>
                        <div class="timeblocks-lower">
                            <app-box class="timeblock" [fromLabel]="fromBlock.mediantime" [toLabel]="toBlock.mediantime"
                                [spanLabel]="getSpan('time')" footerText="time (seconds)" background="#f1c232"
                                [logo]="logos.TIMES"></app-box>
                            <app-box class="timeblock-utc" [fromLabel]="convertToUTC(fromBlock.mediantime)"
                                [toLabel]="convertToUTC(toBlock.mediantime)"
                                [spanLabel]="calculateTimeDifference(fromBlock.mediantime, toBlock.mediantime)"
                                footerText="time (utc)" background="#f1c232" [logo]="logos.TIMES"></app-box>
                        </div>
                    </div>
                </div>
                <div class="judgement-block-container">
                    <!-- Top Section -->
                    <div class="top-blocks">
                        <!-- Yellow Block -->
                        <div class="judgement-block yellow-block">
                            {{toBlock.height}}
                        </div>
                        <!-- Orange Block -->
                        <div class="judgement-block orange-block">
                            {{getSpan('time')}}
                        </div>
                    </div>

                    <!-- Middle Section: Hash Block -->
                    <div class="judgement-block hash-block">
                        {{toBlock.hash || '?'}}
                    </div>

                    <!-- Bottom Section: Judgement Block -->
                    <div class="judgement-block footer-block">
                        Judgement block
                    </div>
                </div>
            </div>
            <div class="blockspan-bottom">
                <div>
                    <div class="blockspan-bottom-upper">
                        <div class="blockspan-bottom-upper-header">{{getResult()}}</div>
                    </div>
                    <div class="blockrate">
                        <a class="to-block dummy"></a>
                        <div class="to-block">{{getBlockRate()}}</div>
                        <div class="from-block">
                            <span class="equation-part">(</span>
                            <span class="equation-block">600 * 100</span>
                            <span class="equation-part">*</span>
                            <span class="highlight-block">{{getSpan('blockspan')}}</span>
                            <span class="equation-part">/</span>
                            <span class="highlight-block">{{getSpan('time')}}</span>
                            <span class="equation-part">)</span>
                        </div>
                        <div class="footer">blockrate</div>
                        <div class="logo">{{ logos.BLOCKS }}</div>
                    </div>
                </div>
                <div class="hashrate">
                    <div class="oe-guessing-box pb-3">
                        <button class="btn btn-lg btn-light btn-outline-warning" type="button"
                            [class.active]="selectedGuess === 'fast'" [disabled]="disabled"
                            (click)="handleSelectedGuess('fast')"
                            [ngbTooltip]="strikeKnown ? 'Can\'t add guess as strike outcome is known' : null">
                            <span class="oe-icon">🐰</span> - faster
                        </button>
                    </div>
                    <div class="oe-guessing-box">
                        <button class="btn btn-lg btn-light btn-outline-warning" type="button"
                            [class.active]="selectedGuess === 'slow'" [disabled]="disabled"
                            (click)="handleSelectedGuess('slow')"
                            [ngbTooltip]="strikeKnown ? 'Can\'t add guess as strike outcome is known' : null">
                            <span class="oe-icon">🐢</span> - slower
                        </button>
                    </div>
                </div>
                <div class="oe-message-container">
                    <div class="oe-message-text" *ngIf="!strike.observedResult && selectedGuess === 'fast'">You
                        guessed
                        nbdr&nbsp;&gt;&nbsp;100<br>(bitcoin running hotter)</div>
                    <div class="oe-message-text" *ngIf="!strike.observedResult && selectedGuess === 'slow'">You
                        guessed
                        nbdr&nbsp;&lt;&nbsp;100<br>(bitcoin
                        running cooler)</div>
                    <div class="oe-message-text"
                        *ngIf="strike.observedResult && strike.observedResult === selectedGuess">
                        <h1>🤠&nbsp;💰You<br>Won</h1>
                    </div>
                    <div class="oe-message-text"
                        *ngIf="strike.observedResult && strike.observedResult !== selectedGuess && selectedGuess && selectedGuess !== 'disabled'">
                        <h1>😭&nbsp;💩You<br>Lost</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
