<table class="table table-borderless table-striped">
    <thead>
        <tr>
            <!-- Conditionally display Sr No column header -->
            <th *ngIf="showSerialNumberColumn">
                {{ getSerialNumberHeader() }}
            </th>
            <th *ngFor="let header of headers">
                <ng-container *ngIf="!header.isSrNo">
                    {{ header.displayName }}
                </ng-container>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data; let i = index" (click)="onRowClick(item)" class="clickable-row">
            <!-- Conditionally display Sr No for each row -->
            <td *ngIf="showSerialNumberColumn"><i class="row-icon fas fa-chevron-right"></i>{{ i + 1 }}</td>
            <td *ngFor="let header of headers">
                <ng-container *ngIf="!header.isSrNo">
                    {{ item[header.columnKey] }}
                </ng-container>
        </tr>
    </tbody>
</table>
