<div class="text-center loadingGraphs" *ngIf="isLoading">
  <div class="spinner-border text-light"></div>
</div>
<div class="preview-component text-center"  *ngIf="!isLoading">
  <div><a [routerLink]="blockspansLink()">Blockspans</a></div>
  <div>
    <a [href]="blockspanDetails()">Blockspan Detail v2</a>
  </div>
  <div>
    <a [href]="blockspanSummaryLink('past')">Blockrate Summary(Past) v2</a>
  </div>
  <div>
    <a [href]="blockspanSummaryLink()">Blockrate Summary(Future) v2</a>
  </div>
  <div>
    <a [href]="blockrateStrikeDetailsV2('past')">Blockrate Strike Detail(Past) v2</a>
  </div>
  <div>
    <a [href]="blockrateStrikeDetailsV2()">Blockrate Strike Detail(Future) v2</a>
  </div>
  <div>
    <a [href]="blockrateStrikeSummaryV2('past')">Blockrate Strike Summary(Past) v2</a>
  </div>
  <div>
    <a [href]="blockrateStrikeSummaryV2()">Blockrate Strike Summary(Future) v2</a>
  </div>
  <div><a [routerLink]="myGuesses()">My Guesses</a></div>
  <h2 class="pt-5 pb-3">LIST OF BLOCKRATE STRIKES</h2>
  <div>
    <a [href]="pastStrikeListOldestToNewestLink()">All Past(oldest to newest)</a>
  </div>
  <div>
    <a [href]="pastStrikeListNewestToOldestLink()">All Past(newest to oldest)</a>
  </div>
  
  <div>
    <a [href]="pastStrikeListOldestToNewestLink('slow')">All Past Slow(oldest to newest)</a>
  </div>
  <div>
    <a [href]="pastStrikeListNewestToOldestLink('slow')">All Past Slow(newest to oldest)</a>
  </div>

  <div>
    <a [href]="pastStrikeListOldestToNewestLink('fast')">All Past Fast(oldest to newest)</a>
  </div>
  <div>
    <a [href]="pastStrikeListNewestToOldestLink('fast')">All Past Fast(newest to oldest)</a>
  </div>

  <div>
    <a [href]="guessableStrikeListNewestToOldestLink()">All Guessable(newest to oldest)</a>
  </div>
  <div>
    <a [href]="strikeListSortByGuess()">All Range(With guess highest to lowest)</a>
  </div>
  <div>
    <a [href]="strikesRangeWithStartblockEndblock()">Range(With startblock and endblock)</a>
  </div>
  <div>
    <a [href]="strikesRangeWithStarttimeEndtime()">Range(With starttime and endtime)</a>
  </div>
  <div>
    <a [href]="strikesRangeWithStartblockEndtime()">Range(With startblock and endtime)</a>
  </div>
  <div>
    <a [href]="strikesRangeWithstarttimeEndBlock()">Range(With starttime and endblock)</a>
  </div>
  <div>
    <a [href]="strikesRangeWithLastStrikes()">Range(With LastStrikes)</a>
  </div>
  <div>
    <a [href]="strikesRangeWithNextStrikes()">Range(With NextStrikes)</a>
  </div>
  <!-- <div>
    <a [routerLink]="pastStrikeListQWithGuess()">All Past Strike List With Guess(Sorted by Guess Descending)</a>
  </div> -->
  <!-- <div>
    <a [routerLink]="futureStrikeSummaryLink()">Strike Summary(Future)</a>
  </div> -->
</div>
