<div class="observed-blockspan-detail">
  <div class="observed-blockspan-detail--top" *ngIf="fromBlock && toBlock">
    <div class="blockspan" (click)="navigateTo()">
      <div class="d-flex">
        <div class="energy-container">
          <div class="hashblock">
            <div class="to-block-hash pl-2 pr-2" (click)="openExternalSite($event, toBlock.hash)">
              {{ toBlock.hash || '?'}}
            </div>
            <div class="from-block-hash pl-2 pr-2" (click)="openExternalSite($event, fromBlock.hash)">
              {{ fromBlock.hash }}
            </div>
            <div class="footer">Block hashes</div>
          </div>
          <app-blockspan
            *ngIf="fromBlock && toBlock"
            [fromBlock]="fromBlock"
            [toBlock]="toBlock"
          ></app-blockspan>          
          <app-base-box-v2
            [span]="span"
            [fromTime]="fromBlock.mediantime"
            [toTime]="toBlock.mediantime"
          ></app-base-box-v2>
        </div>
      </div>
    </div>
    <!-- <div class="blockspan-table" (click)="navigateTo()">
      <div>
        <div>average: {{ average || '???' }}</div>
        <div>stddev: {{ stddev || '???' }}</div>
        <div>last 100 blockspans</div>
      </div>
      <div class="footer">Statistics</div>
    </div> -->
  </div>
</div>
