<div class="observed-blockspan-detail">
  <div class="observed-blockspan-detail--top" *ngIf="fromBlock && toBlock">
    <div class="blockspan">
      <div style="margin-bottom: 110px" (click)="navigateTo()">
        <app-energy 
          [fromBlock]="fromBlock"
          [toBlock]="toBlock"
          [hideFlameStack]="true">
        </app-energy>
      </div>
      <ng-container>
        <div class="app-strike" *ngFor="let strike of timeStrikes">
          <app-strike
            [fromBlock]="fromBlock"
            [toBlock]="toBlock"
            [strike]="strike"
          ></app-strike>
        </div>
      </ng-container>
    </div>
  </div>
  <div>
    <div *ngFor="let strike of strikesData">
      <div class="guessing-block">
        <app-guessing-game
          [fromBlock]="fromBlock"
          [toBlock]="toBlock"
          [strike]="strike.strike">
        </app-guessing-game>
      </div>
    </div>
  </div>
</div>
