/* Bootstrap */

$body-bg: #1d1f31;
$body-color: #fff;
$gray-800: #1d1f31;
$gray-700: #fff;

$nav-tabs-link-active-bg: #11131f;

$primary: #105fb0;
$secondary: #2d3348;
$success: #1a9436;
$info: #1bd8f4;

$h5-font-size: 1.15rem !default;

$pagination-bg: $body-bg;
$pagination-border-color: $gray-800;
$pagination-disabled-bg:           #FFF;
$pagination-disabled-border-color: #1d1f31;
$pagination-active-color:          #fff;
$pagination-active-bg:             #653b9c;
$pagination-hover-bg:              #12131e;
$pagination-hover-border-color:     #1d1f31;
$pagination-disabled-bg:          #1d1f31;

$custom-select-indicator-color: #FFF;

$link-color:                #1bd8f4;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

$dropdown-bg: #1d1f31;
$dropdown-link-color: #fff;

$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: #11131f;

$dropdown-link-active-color: #fff;
$dropdown-link-active-bg: #11131f;

@import "~bootstrap/scss/bootstrap";
@import '~tlite/tlite.css';

html, body {
  height: 100%;
}

body {
  background-color: #11131f;
  min-width: 375px;
  padding-bottom: 60px;
}

@media (max-width: 767.98px) {
  .box {
    padding: 0.75rem;
  }
}

.form-control {
  color: #495057
}

.form-control:focus {
  color: #000
}
