<div class="container-xl about-page">
  <div class="intro">
    <span style="margin-left: auto; margin-right: 65px; margin-bottom: -20px">&trade;</span>
    <img class="logo" src="../../../../resources/oe-energy-toolbox.png" />
    <div class="version">
      [<a href="https://github.com/op-energy-foundation/op-energy-blockspan-service/commit/{{ frontendGitCommitHash }}" target="_blank">{{
        frontendGitCommitHash }}</a>]
    </div>
  </div>

  <div class="about-text">
    <h5><ng-container>Blockrate Binaries </ng-container><ng-template>
        &trade;</ng-template></h5>
    <!-- Announcement Link -->
    <div class="mt-3">
      <p class="mb-0">
        <a href="https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2023-May/021605.html"
          target="_blank">Announcement
        </a>
      </p>
    </div>
    <div class="mt-1">
      <p class="mb-0"><a
          href="https://raw.githubusercontent.com/blockrate-binaries/paper/master/blockrate-binaries-paper.pdf"
          target="_blank">Whitepaper</a>
      </p>
    </div>
    <div class="mt-1">
      <p class="mb-0"><a
          href="https://docs.google.com/document/d/1qeZs301EsYs3nCcHDZ2LpMTl_9kSWSqITPrtfkGDeq8/edit?usp=drivesdk"
          target="_blank">FAQ</a>
      </p>
    </div>
    <div class="mt-1">
      <p class="mb-0">
        <a [routerLink]="['/preview-page']">Skunkworks Functionality Preview </a>
      </p>
    </div>
  </div>
</div>
