<div class="tetris-blockspan">
  <div class="to-block">
    <input
      type="text"
      class="form-control text-center mb-3"
      [(ngModel)]="toBlock"
    />
    <div class="span-block">
    </div>
  </div>
  <div class="from-block">
    <input
      type="text"
      class="form-control text-center mt-3"
      [(ngModel)]="fromBlock"
    />
  </div>

  <div class="mt-5">
    <button
      type="button"
      class="btn btn-primary d-block w-100"
      (click)="onGo()"
    >
      Go
    </button>
  </div>
</div>
