<div class="observed-blockspan-detail">
    <div class="text-center loadingGraphs" *ngIf="isLoadingBlock">
        <div class="spinner-border text-light"></div>
    </div>
    <div class="observed-blockspan-detail--top" *ngIf="!isLoadingBlock">
        <div class="block-container">
            <div class="blockspan">
                <app-box class="blockspan-block" [fromLabel]="fromBlock.height" [toLabel]="toBlock.height"
                    footerText="blocks" [displayLogo]="false" [footerLogo]="logos.BLOCKS"></app-box>
                <app-box class="hashblock" [ngClass]="{'hashblock-font': getChainWork(this.fromBlock.chainwork) !== '?'}" [fromLabel]="getChainWork(this.fromBlock.chainwork)"
                    [toLabel]="getChainWork(this.toBlock.chainwork)" footerText="hashes" [spanLabel]="getSpan('hashes', true)"
                    background="red" [footerLogo]="logos.STRIKES" [isToolTipEnabled]="true" [displayLogo]="false"></app-box>
                    <div class="blockspan-bottom-upper">
                        <div class="blockspan-bottom-upper-header">{{result}}</div>
                        <div class="blockspan-bottom-upper-content">
                            <app-box class="timeblock" [fromLabel]="fromBlock.mediantime" [toLabel]="toBlock.mediantime"
                                [spanLabel]="getSpan('time')" footerText="time (seconds)" background="#f1c232"
                                [footerLogo]="logos.TIMES" [displayLogo]="false"></app-box>
                            <app-box class="timeblock-utc" [fromLabel]="convertToUTC(fromBlock.mediantime)"
                                [toLabel]="convertToUTC(toBlock.mediantime)"
                                [spanLabel]="calculateTimeDifference(fromBlock.mediantime, toBlock.mediantime)"
                                footerText="time (utc)" background="#f1c232" [footerLogo]="logos.TIMES" [displayLogo]="false"></app-box>
                        </div>
                    </div>
                <app-box class="satoshis" [fromLabel]="formatNumberToString(fromBlock.chainreward)" [toLabel]="formatNumberToString(toBlock.chainreward)"
                    footerText="satoshis" background="#b6d7a8" [footerLogo]="logos.SATOSHIS" [displayLogo]="false" [spanLabel]="getSpan('satoshis')"></app-box>
            </div>
            <div class="blockspan second-row">
                <app-box class="blockspan-block" [fromLabel]="fromBlock.height" [toLabel]="toBlock.height"
                    footerText="blocks" [displayLogo]="false" [footerLogo]="logos.BLOCKS"></app-box>
                <app-box class="hashes" [fromLabel]="fromBlock.hash" [toLabel]="toBlock.hash" footerText="block hashes"
                    background="#ffff00" [displayBlock]="false" [displayLogo]="false" [isToolTipEnabled]="true"></app-box>
                <app-box class="hashes difficulty" [fromLabel]="getDifficulty(fromBlock.hash)" [toLabel]="getDifficulty(toBlock.hash)" footerText="napkin math block difficulty: 16 ^ (numbers of red zeros + 1)" background="#cf2a27" [displayBlock]="false" [displayLogo]="false" [isToolTipEnabled]="true"></app-box>
                <app-box class="hashes difficulty origina-difficulty" [fromLabel]="formatNumberToString(fromBlock?.difficulty)" [toLabel]="formatNumberToString(toBlock.difficulty)" footerText="actual difficulty" background="#cf2a27" [displayBlock]="false" [displayLogo]="false" [isToolTipEnabled]="true"></app-box>
            </div>
            <div class="blockspan-bottom">
                <div class="blockrate">
                    <a class="to-block dummy">{{result}}</a>
                    <div class="to-block">{{getBlockRate()}}</div>
                    <div class="from-block">
                        <span class="equation-part">(</span>
                        <span class="equation-block">600&nbsp;*&nbsp;100</span>
                        <span class="equation-part">*</span>
                        <span class="highlight-block">{{getSpan('blockspan')}}</span>
                        <span class="equation-part">/</span>
                        <span class="highlight-block">{{getSpan('time')}}</span>
                        <span class="equation-part">)</span>
                    </div>
                    <div class="footer">blockrate</div>
                    <div class="logo">{{ logos.BLOCKS }}</div>
                </div>
                <div class="hashrate">
                    <a class="to-block dummy"></a>
                    <div class="to-block">{{getHashRate()}}</div>
                    <div class="from-block">
                        <span class="equation-part">(</span>
                        <span class="highlight-block">{{getSpan('hashes')}}</span>
                        <span class="equation-part">/</span>
                        <span class="highlight-block">{{getSpan('time')}}</span>
                        <span class="equation-part">)</span>
                    </div>
                    <div class="footer">hashrate</div>
                    <div class="logo">{{ logos.STRIKES }}</div>
                </div>
                <div class="sathash">
                    <a class="to-block dummy"></a>
                    <div class="to-block">{{getSathash()}}</div>
                    <div class="from-block">
                        <span class="equation-part">(</span>
                        <span class="highlight-block">{{getSpan('hashes')}}&nbsp;</span>&nbsp;
                        <span class="equation-part">/</span>&nbsp;
                        <span class="highlight-block">{{getSpan('satoshis')}}</span>
                        <span class="equation-part">)</span>
                    </div>
                    <div class="footer">sathash</div>
                    <div class="logo">{{ logos.SATOSHIS }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
